* {
    margin: 0;
    padding: 0;
    border: none;
}

.heading {
    text-align: center;
    font-size: 3.5rem;
    background-color: goldenrod;
    color:white;
}

.main-buttons {
    background: url("../images/movie-background.jpg") no-repeat center center;
    height: 650px;
    background-size: cover;
}

.start {
    font-size: 0.9rem;
    text-decoration: none;
    background-color: goldenrod;
    padding: 10px;
    border-radius: 5px;
    margin: 200px 200px 100px 200px; 
    color: white;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 150px;
    height:75px;
}

.main-buttons a {
   text-align: center;
   font-size: 1.5rem;
}

.main-buttons i {
    margin-top: 10px;
}

.main-buttons a:hover {
    text-decoration: underline;
    border: 2px solid black;
    opacity: .8;
}

footer {
    background-color: goldenrod;
    height: 75px;
    text-align: center;
}

#footer-socials li {
    display: inline-block;
    
    margin: 30px;
}

#footer-socials a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

footer li:hover {
    opacity: 0.7;
}
