@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Titillium+Web:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, "sans-serif";
    font-weight: 300;
    
}

h1,
h2 {
    font-family: "Titillium Web", sans-serif;
    
    letter-spacing: 5px;
 
}

.heading {
    text-align: center;
    font-size: 3.5rem;
    background-color: goldenrod;
    color:white;
}

.main-buttons {
    background: url("../images/movie-background.jpg") no-repeat center center;
    
    background-size: cover;
}

.start {
    font-size: 0.9rem;
    text-decoration: none;
    background-color: goldenrod;
    padding: 10px;
    border-radius: 5px;
    margin: 200px; 
    color: white;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 150px;
    height:75px;
}

.main-buttons a {
   text-align: center;
   font-size: 1.5rem;
}

.main-buttons i {
    margin-top: 10px;
}

.main-buttons a:hover {
    text-decoration: underline;
    border: 2px solid black;
    opacity: .8;
}

footer {
    background-color: goldenrod;
    height: 75px;
    text-align: center;
}

#footer-socials li {
    display: inline-block;
    
    margin: 30px;
}

#footer-socials a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

footer li:hover {
    opacity: 0.7;
}

.score-goals{
    background: url("../images/movie-background.jpg") no-repeat center center;
    padding: 100px;
    background-size: cover;
}

.score-discription {
    background-color: rgba(218, 165, 32, 0.8);
    border-radius: 5px;
    margin: 100px;
    padding: 50px;
    

}

.score-discription h2 ,h3 {
    margin-top: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.score-discription p {
    margin-top: 35px;
    color: white;
}

.scoregoals-buttons {
    font-size: 0.9rem;
    text-decoration: none;
    background-color: goldenrod;
    padding: 10px;
    border-radius: 5px;
    margin: 35px; 
    color: white;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 100px;
    height:50px;
}

.score-discription a {
   text-align: center;
}

.score-discription a:hover{
 
    opacity: .7;
}


.scoregoals-buttons i {
    font-size: 0.9rem;
  
    margin-top: 10px;
}

.scoregoals-right {
    float:right;
}

.quiz-buttons {
    background: url("../images/movie-background.jpg") no-repeat center center;
    height: 600px;
    background-size: cover;
    padding: 150px;
}

.button {
    background-color: goldenrod;
    width:200px;
    height:50px;
    padding:10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 50px;
    font-family: Lato, "sans-serif";
}

.quiz-container{
    margin-top: 150px;
    background-color: rgba(218, 165, 32, 0.6);
}

.answers{
    justify-content:center;
    align-items:center;
    display:flex;
    
}

.next {
    float: right;
}

.home-button {
    text-decoration: none;
    background-color: goldenrod;
    width:200px;
    height:50px;
    line-height: 50px;
    font-size: .9rem;
    text-align: center;
    color: white;
    font-family: Lato, "sans-serif";
    font-weight: 300;
    border-radius: 5px;
    margin-bottom: 50px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.nav-buttons {
    justify-content:center;
    align-items:center;
    
}

.home-button:hover {
    opacity: .7;

}

.next:hover {
    opacity: .7;
}