@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Titillium+Web:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, "sans-serif";
    font-weight: 300;
    
}

h1,
h2 {
    font-family: "Titillium Web", sans-serif;
    
    letter-spacing: 5px;
 
}

.heading {
    text-align: center;
    font-size: 3.5rem;
    background-color: goldenrod;
    color:white;
}

.main-buttons {
    background: url("../images/movie-background.jpg") no-repeat center center;
    
    background-size: cover;
}

.start {
    font-size: 0.9rem;
    text-decoration: none;
    background-color: goldenrod;
    padding: 10px;
    border-radius: 5px;
    margin: 200px; 
    color: white;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 150px;
    height:75px;
}

.main-buttons a {
   text-align: center;
   font-size: 1.5rem;
}

.main-buttons i {
    margin-top: 10px;
}

.main-buttons a:hover {
    text-decoration: underline;
    border: 2px solid black;
    opacity: .8;
}

footer {
    background-color: goldenrod;
    height: 75px;
    text-align: center;
}

#footer-socials li {
    display: inline-block;
    
    margin: 30px;
}

#footer-socials a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

footer li:hover {
    opacity: 0.7;
}

.score-goals{
    background: url("../images/movie-background.jpg") no-repeat center center;
    padding: 50px;
    background-size: cover;
}

.score-discription {
    background-color: rgba(218, 165, 32, 0.8);
    border-radius: 5px;
    margin: 100px;
    padding: 50px;
    

}

.score-discription h2 ,h3 {
    margin-top: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.score-discription p {
    margin-top: 35px;
    color: white;
}

.scoregoals-buttons {
    font-size: 0.9rem;
    text-decoration: none;
    background-color: goldenrod;
    padding: 10px;
    border-radius: 5px;
    margin: 35px; 
    color: white;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 100px;
    height:50px;
}

.score-discription a {
   text-align: center;
}

.score-discription a:hover{
 
    opacity: .7;
}


.scoregoals-buttons i {
    font-size: 0.9rem;
  
    margin-top: 10px;
}

.scoregoals-right {
    float:right;
}

.quiz-buttons {
    background: url("../images/movie-background.jpg") no-repeat center center;
    background-size: cover;
    padding: 150px;
}

.button {
    background-color: goldenrod;
    width:200px;
    height:50px;
    padding:10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 50px;
    font-family: Lato, "sans-serif";
}

.quiz-container{
    margin-top: 150px;
    background-color: rgba(218, 165, 32, 0.6);
}

.answers-displayed{
    justify-content:center;
    align-items:center;
    display:flex;
    
}

.next {
    float:right;
}

.button-display {
    display: inline-block;
}

.home-button {
    text-decoration: none;
    background-color: goldenrod;
    width:200px;
    height:50px;
    line-height: 50px;
    font-size: .9rem;
    text-align: center;
    color: white;
    font-family: Lato, "sans-serif";
    font-weight: 300;
    border-radius: 5px;
    margin-bottom: 50px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.nav-buttons {
    justify-content:center;
    align-items:center;
    
}

.home-button:hover {
    opacity: .7;

}

.next:hover {
    opacity: .7;
}

#question-displayed {
    color: white;
    margin: 100px 50px 100px 50px;
    font-size: 2rem;
    text-align: center;
}

.right-button {
    float: right;
    margin-right: 100px;
}

.left-button {
    
    margin-left: 100px;
}

.results {
   color: white;
   font-weight: bold;
   display:inline-grid;
}

.results-right {
    float:right;
}

#correct {
    color: green;
    text-align:center;
}

#incorrect {
    color:red;
    text-align:center;
}


@media screen and (max-width: 902px) {
  

    .answers-displayed{
      display: inline-grid; 
        
    }

    .right-button {
       
        margin:0;
    }
    
    .left-button {
        
        margin:0;
    }
    
   

    .results-right {
        float:right;
    }
     

    .score-discription {
        background-color: rgba(218, 165, 32, 0.8);
        border-radius: 5px;
        margin: 20px;
        padding: 20px;
        
    
    }
    
}

@media screen and (max-width: 700px) {
   
    .answers-displayed{
      display: inline-grid; 
        
    }

    .right-button {
       
        margin:0;
    }
    
    .left-button {
        
        margin:0;
    }
    
   

    .results-right {
        float:right;
    }

    #question-displayed {
        color: white;
        margin: 10px 10px 10px 10px;
        font-size: 2rem;
        text-align: center;
    }
     

    .quiz-container{
        
        background-color: rgba(218, 165, 32, 0.6);
        width: 100%;
        margin:0;
    }
    
    .quiz-buttons {
        background: url("../images/movie-background.jpg") no-repeat center center;
        background-size: cover;
        padding: 50px;
    }

    .score-discription {
        background-color: rgba(218, 165, 32, 0.8);
        border-radius: 5px;
        margin: 0px;
        padding: 0px;
        width: 100%;
        
    
    }

    .scoregoals-buttons {
        font-size: 0.9rem;
        text-decoration: none;
        background-color: goldenrod;
        padding: 10px;
        border-radius: 5px;
        margin: 15px; 
        color: white;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        width: 75px;
        height:50px;
    }
    
}

@media screen and (max-width: 500px) {
   
    .answers-displayed{
      display: inline-grid; 
        
    }

    .right-button {
       
        margin:0;
    }
    
    .left-button {
        
        margin:0;
    }
    
   

    .results-right {
        float:right;
    }

    #question-displayed {
        color: white;
        margin: 10px 10px 10px 10px;
        font-size: 2rem;
        text-align: center;
    }
     

    .quiz-container{
        
        background-color: rgba(218, 165, 32, 0.6);
        width: 100%;
        margin:0;
        
    }
    
    .quiz-buttons {
        background: url("../images/movie-background.jpg") no-repeat center center;
        background-size: cover;
        padding: 25px;
    }

    .button {
        background-color: goldenrod;
        width:150px;
        height:50px;
        padding:10px;
        color: white;
        border-radius: 5px;
        margin-bottom: 20px;
        font-family: Lato, "sans-serif";
    }

    .home-button {
        text-decoration: none;
        background-color: goldenrod;
        width:150px;
        height:50px;
        line-height: 50px;
        font-size: .9rem;
        text-align: center;
        color: white;
        font-family: Lato, "sans-serif";
        font-weight: 300;
        border-radius: 5px;
        margin-bottom: 50px;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
    }

    .heading {
        text-align: center;
        font-size: 2.5rem;
        background-color: goldenrod;
        color:white;
    }

    .scoregoals-buttons {
        font-size: 0.8rem;
        text-decoration: none;
        background-color: goldenrod;
        padding: 10px;
        border-radius: 5px;
        margin: 0px; 
        color: white;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        width: 75px;
        height:50px;
        
    }
    
}
    
@media screen and (max-width: 400px) {

    .scoregoals-buttons {
        font-size: 0.8rem;
        text-decoration: none;
        background-color: goldenrod;
        padding: 10px;
        border-radius: 5px;
        margin: 0px; 
        color: white;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        width: 60px;
        height:50px;
        
    }
    
}

@media screen and (max-width: 355px) {
   
    .answers-displayed{
      display: inline-grid; 
        
    }

    .right-button {
       
        margin:0;
    }
    
    .left-button {
        
        margin:0;
    }
    
   

    .results-right {
        float:right;
    }

    #question-displayed {
        color: white;
        margin: 10px 10px 10px 10px;
        font-size: 2rem;
        text-align: center;
    }
     

    .quiz-container{
        
        background-color: rgba(218, 165, 32, 0.6);
        width: 100%;
        margin:0;
        
    }
    
    .quiz-buttons {
        background: url("../images/movie-background.jpg") no-repeat center center;
        background-size: cover;
        padding: 25px;
    }

    .button {
        background-color: goldenrod;
        width:120px;
        height:50px;
        padding:10px;
        color: white;
        border-radius: 5px;
        margin-bottom: 20px;
        font-family: Lato, "sans-serif";
    }

    .home-button {
        text-decoration: none;
        background-color: goldenrod;
        width:120px;
        height:50px;
        line-height: 50px;
        font-size: .9rem;
        text-align: center;
        color: white;
        font-family: Lato, "sans-serif";
        font-weight: 300;
        border-radius: 5px;
        margin-bottom: 50px;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
    }

    .heading {
        text-align: center;
        font-size: 2.2rem;
        background-color: goldenrod;
        color:white;
    }

    .scoregoals-buttons {
        font-size: 0.8rem;
        text-decoration: none;
        background-color: goldenrod;
        padding: 10px;
        border-radius: 5px;
        margin: 0px; 
        color: white;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        width: 50px;
        height:50px;
        
    }
}